<header class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">{{ bundle }}</li>
            <li><a href="/">Index</a></li>
        </ul>
    </div>
</header>
